@import '../../App.scss';

.carousel-overlay {
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;

  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-primary1;
    opacity: .7;
  }

  .img {
    height: 25%;
    width: auto;
    z-index: 2;
  }
}