html,
body,
#root,
.App {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 400px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// color palette
$color-primary1: #994010;
$color-primary2: #F2E3CC;

$color-secondary1: #415739;
$color-secondary2: #FFF5EA;
$color-secondary3: #EBAE7D;
